<ul class="hamburger-links hide show relative">
	<li class="">
		<a href="/">HOME</a>
	</li>
	<li class="">
		<a href="/blog/">BLOG</a>
	</li>
	<li class="">
		<a href="/about/">ABOUT</a>
	</li>
</ul>

<style>
	.hamburger-links {
		@apply mt-2 w-full text-stone-400;
	}
	.show {
		@apply visible sm:hidden;
	}
	.hide {
		@apply hidden;
	}

	ul {
		@apply flex flex-col items-center justify-center text-sm text-stone-400 sm:flex;
		li {
			@apply flex w-[50%] py-3 text-center flex-center hover:text-stone-100;
			&:not(:last-child) {
				@apply border-b border-stone-400/50;
			}
		}
	}
</style>
