<div class="hamburger">
	<span class="line"></span>
	<span class="line"></span>
	<span class="line"></span>
</div>

<style>
	.hamburger {
		@apply flex cursor-pointer flex-col gap-y-[8px]  p-2;
	}

	.hamburger .line {
		@apply block h-[1px]
		w-5 bg-stone-500;
	}
</style>
