/* :root {
	--primary-100: #d4eaf7;
	--primary-200: #b6ccd8;
	--primary-300: #3b3c3d;
	--accent-100: #71c4ef;
	--accent-200: #00668c;
	--text-100: #1d1c1c;
	--text-200: #313d44;
	--bg-100: #fffefb;
	--bg-200: #f5f4f1;
	--bg-300: #cccbc8;
}
:root.dark {
	--primary-100: #1f3a5f;
	--primary-200: #4d648d;
	--primary-300: #acc2ef;
	--accent-100: #3d5a80;
	--accent-200: #cee8ff;
	--text-100: #ffffff;
	--text-200: #e0e0e0;
	--bg-100: #0f1c2e;
	--bg-200: #1f2b3e;
	--bg-300: #374357;
}

[data-theme='dark'] {
	--primary-100: #1f3a5f;
	--primary-200: #4d648d;
	--primary-300: #acc2ef;
	--accent-100: #3d5a80;
	--accent-200: #cee8ff;
	--text-100: #ffffff;
	--text-200: #e0e0e0;
	--bg-100: #0f1c2e;
	--bg-200: #1f2b3e;
	--bg-300: #374357;
}

@media (prefers-color-scheme: dark) {
	:root {
		--primary-100: #1f3a5f;
		--primary-200: #4d648d;
		--primary-300: #acc2ef;
		--accent-100: #3d5a80;
		--accent-200: #cee8ff;
		--text-100: #ffffff;
		--text-200: #e0e0e0;
		--bg-100: #0f1c2e;
		--bg-200: #1f2b3e;
		--bg-300: #374357;
	}
}

body {
	background-color: var(--bg-100);
} */

.nav-links {
	width: 100%;
	top: 5rem;
	left: 48px;
	background-color: #ff9776;
	display: none;
	margin: 0;
}

.nav-links a {
	display: block;
	text-align: center;
	padding: 10px 0;
	text-decoration: none;
	font-size: 1.2rem;
	font-weight: bold;
	text-transform: uppercase;
}

.nav-links a:hover,
.nav-links a:focus {
	background-color: #ff9776;
}

.expanded {
	display: unset;
}

@media screen and (min-width: 636px) {
	.nav-links {
		margin-left: 5em;
		display: block;
		position: static;
		width: auto;
		background: none;
	}

	.nav-links a {
		display: inline-block;
		padding: 15px 20px;
	}
}
