---
import Layout from '@/layouts/Layout.astro';
---

<Layout title="Blog Tutorial">
	<main class="w-full justify-center space-y-5 pt-10 text-center text-cyan-50">
		<h1 class="text-cyan-50">About Page</h1>
		<p>This site is a code along for the official Astro docs</p>
		<p>This site will update as complete more of the tutorial</p>
	</main>
</Layout>
