---
import Layout from '@/layouts/Layout.astro';
---

<Layout title="Blog Tutorial">
	<main class="w-full justify-center space-y-5 pt-10 text-center text-cyan-50">
		<h1 class="text-cyan-50">Blog</h1>
		<p>This is where blog posts will go</p>
	</main>
</Layout>
