---
// import { ObserverBox } from '@/components/react/ObserverBox';
// import { ObserverBoxPkg } from '@/components/react/ObserverBoxPkg';
import Layout from '@/layouts/Layout.astro';

const pageTitle = 'Blog Home';
---

<Layout title={pageTitle}>
	<main class="flex w-full flex-col items-center pt-10 text-center">
		<h3 class="text-mainTxt">Astro main blog tutorial</h3>
	</main>
</Layout>

<style></style>
