---
const platform = 'github';
const username = 'PaulHaze';
---

<footer class="mt-5 bg-stone-700/30 py-5">
	<p class="text-center text-white/90">
		Learn more about my projects on <a
			href={`https://www.${platform}.com/${username}`}>{platform}</a
		>!
	</p>
</footer>
