---
import Social from './Social.astro';
---

<footer class="mt-5 bg-stone-700/30 py-2">
	<div class="flex w-full justify-center gap-x-3">
		<Social platform="twitter" username="astrodotbuild" />
		<Social platform="github" username="withastro" />
		<Social platform="facebook" username="astrodotbuild" />
	</div>
</footer>
