<nav class="bg-stone-700/30 py-4">
	<div class="mx-auto flex w-full max-w-lg justify-between px-10 bb">
		<div class="">ICO</div>
		<ul class="">
			<li class="">
				<a href="/">HOME</a>
			</li>
			<li class="">
				<a href="/blog/">BLOG</a>
			</li>
			<li class="">
				<a href="/about/">ABOUT</a>
			</li>
		</ul>
	</div>
</nav>

<style>
	ul {
		@apply flex gap-x-5 text-sm text-stone-400;
	}

	ul li {
		@apply hover:text-stone-100;
	}
</style>
