<nav class="flex justify-start bg-stone-700/30 py-4">
	<div class="mx-auto w-full max-w-lg">
		<ul class="ml-10 flex gap-x-5 text-sm text-stone-400">
			<li class="hover:text-stone-100">
				<a href="/">HOME</a>
			</li>
			<li class="hover:text-stone-100">
				<a href="/blog/">BLOG</a>
			</li>
			<li class="hover:text-stone-100">
				<a href="/about/">ABOUT</a>
			</li>
		</ul>
	</div>
</nav>
