<nav class="bg-stone-700/30 py-4">
	<div class="mx-auto w-full max-w-lg">
		<ul class="">
			<li class="">
				<a href="/">HOME</a>
			</li>
			<li class="">
				<a href="/blog/">BLOG</a>
			</li>
			<li class="">
				<a href="/about/">ABOUT</a>
			</li>
		</ul>
	</div>
</nav>

<style>
	ul {
		@apply ml-10 flex justify-center gap-x-5 text-sm text-stone-400 md:justify-start;
	}

	ul li {
		@apply hover:text-stone-100;
	}
</style>
