<ul>
	<li class="">
		<a href="/">HOME</a>
	</li>
	<li class="">
		<a href="/blog/">BLOG</a>
	</li>
	<li class="">
		<a href="/about/">ABOUT</a>
	</li>
</ul>

<style>
	ul {
		@apply hidden gap-x-5 text-sm text-stone-400 sm:flex;
	}

	ul li {
		@apply hover:text-stone-100;
	}
</style>
