---
import { Icon } from 'astro-icon/components';

// import facebookLogo from '@/images/facebook.svg?raw';
// import githubLogo from '@/images/github.svg?raw';
// import twitterLogo from '@/images/twitter.svg?raw';

interface Props {
	platform: string;
	username: string;
}

// interface Logos {
// 	facebook: string;
// 	github: string;
// 	twitter: string;
// }

const { platform, username } = Astro.props;
// const socialLogo: Logos = {
// 	facebook: facebookLogo,
// 	github: githubLogo,
// 	twitter: twitterLogo,
// };
---

<a class="" href={`https://www.${platform}.com/${username}`}>
	<Icon size={30} name={platform} />
	<!-- <Fragment set:html={socialLogo[platform as keyof Logos]} /> -->
</a>

<style>
	[data-icon] {
		@apply text-stone-400 transition-all hover:text-stone-300;
		font-size: 2rem;
	}
	[data-icon='facebook'] {
		@apply text-blue-500 transition-all hover:text-blue-600;
	}
	[data-icon='twitter'] {
		@apply text-black/80 transition-all hover:text-black;
	}
</style>
