---
import { Icon } from 'astro-icon/components';

// import facebookLogo from '@/images/facebook.svg?raw';
// import githubLogo from '@/images/github.svg?raw';
// import twitterLogo from '@/images/twitter.svg?raw';

interface Props {
	platform: string;
	username: string;
}

// interface Logos {
// 	facebook: string;
// 	github: string;
// 	twitter: string;
// }

const { platform, username } = Astro.props;
// const socialLogo: Logos = {
// 	facebook: 'openmoji:facebook',
// 	github: 'openmoji:github',
// 	twitter: 'openmoji:twitter',
// };
---

<a class="cursor-pointer" href={`https://www.${platform}.com/${username}`}>
	<Icon size={35} name={`openmoji:${platform}`} />
	<!-- <Fragment set:html={socialLogo[platform as keyof Logos]} /> -->
</a>
