---
interface Props {
	tag: string;
	isSelected?: boolean;
}

const { tag, isSelected } = Astro.props;
---

<div
	class={`"m-2 rounded px-3 py-2 m-1 ${isSelected ? 'bg-slate-700 text-white/90' : 'bg-slate-100 text-black'}"`}
>
	<a
		class={` ${isSelected ? ' text-white/90' : ' text-black'}`}
		href={`/tags/${tag}`}
	>
		{tag}
	</a>
</div>

<script></script>
