---
import { cn } from '@/utils/twmerge';
interface Props {
	tag: string;
	isSelected?: boolean;
}

const { tag, isSelected } = Astro.props;
---

<!-- Example using classlist -->
<div
	class:list={[
		'rounded px-3 py-2 m-1',
		{
			'bg-slate-700': isSelected,
			'bg-slate-100': !isSelected,
		},
	]}
>
	<a
		class={cn('text-slate-800', isSelected && 'text-slate-50')}
		href={`/tags/${tag}`}
	>
		{tag}
	</a>
</div>

<script></script>
